body, html {
    height: 100%
}

.main-container {
    width: 600px;
    margin: 40px auto 0;
    height: 800px;
}

.auth{
    padding: 40px;
}

.chat {
}

.chat-input-form {
    padding: 20px;
    box-sizing: border-box;
    width: 600px;
    height: 100px;
}

.chat-massages-pane {
    padding: 20px;
    box-sizing: border-box;
    height: 600px;
    width: 600px;
    overflow-y: scroll;
}

.chat-message-item {
    margin-bottom: 10px;
}

.send-button {
    margin-top: 5px;
}