* {
    box-sizing: border-box;
}

body, html, .root {
    height: 100%
}

.main-container {
    width: 50%;
    margin: 0 auto;
    height: 100%;
    min-width: 600px;
}

.auth{
    padding: 40px;
}

.chat {
    height: 100%;
    width: 50%;
    position: absolute;
    bottom: 0;
}

.chat-input-form {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.chat-massages-pane {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    bottom: 80px;
}